
:root{
    --secondary-color:#cf8282;
    --third-color:#e0b1b1;
    --white-color:#ffffff;
    --black-color:#000000;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}


.modal{
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.15s;
    /* display: none; */
    z-index: 10;
}

.modal_body{
    --growth-from:0.7;
    --growth-to:1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s;
}

.modal_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }

}

@keyframes growth{
    from{
        transform: scale(var(--growth-from));
        opacity: 0;
    }
    to{
        transform: scale(var(--growth-to));
        opacity: 1;
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c39696; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #9f7a7a; 
  }